<section class="vh-100 bg-image" >
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px; background-color: black;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5" style="color: white;">Sign up here</h2>

              <form [formGroup]="form" (ngSubmit)="submit()">

                <div class="form-group form-outline mb-4">
                  <input type="text" formControlName="userName" [(ngModel)]="username"  id="userName" class="form-control form-control-lg" />
                  <label class="form-label" for="userName" style="color: white;">Enter Your Name</label>
                  <div *ngIf="f.userName.touched && f.userName.invalid" class="alert-danger">  
                    <div *ngIf="f.userName.errors?.required">Name is required</div> 
                </div>
              </div>

                <div class="form-group form-outline mb-4">
                  <input  type="text" formControlName="mobileNumber" [(ngModel)]="mobilenumber"  id="mobileNumber" class="form-control form-control-lg" />
                  <label  class="form-label" for="mobileNumber" style="color: white;">Enter Mobile Number</label>
                <div *ngIf="f.mobileNumber.touched && f.mobileNumber.invalid" class="alert-danger">  
                  <div *ngIf="f.mobileNumber.errors?.required">Mobile Number is required.</div>  
                  <div *ngIf="f.mobileNumber.errors?.pattern">Please, Enter 10 digit Mobile Number.</div>  
                </div> 
            </div> 

                <div class="form-group form-outline mb-4">
                    <input type="email" formControlName="email" name="email" [(ngModel)]="email"  placeholder="Ex: demo123@gmail.com" id="email" class="form-control form-control-lg" />
                    <label class="form-label" for="Email" style="color: white;">Enter Your Email</label>
                    <div *ngIf="f.email.touched && f.email.invalid" class="alert-danger">
                      <div *ngIf="f.email.errors?.required">Email is required</div>
                      <div *ngIf="f.email.errors?.pattern">Email must be a valid email address</div>
                 </div>
                </div>

                <div class="form-group form-outline mb-4">
                  <input type="password" formControlName="password" name="password" [(ngModel)]="password"  id="password" class="form-control form-control-lg" />
                  <label class="form-label" for="password" style="color: white;">Enter New Password</label>
                  <div *ngIf="f.password.touched && f.password.invalid" class="alert-danger">
                    <div *ngIf="f.password.errors?.required">Password is required</div>
                    <div *ngIf="f.password.errors?.minlength">Password must be 6 charactors</div>
               </div>
                </div>

                <div class="form-group form-outline mb-4">
                  <input type="address" formControlName="address"  name="address" [(ngModel)]="address"  placeholder="Street, Area, City, State" id="address" class="form-control form-control-lg" />
                  <label class="form-label" for="address" style="color: white;">Enter Billing Address</label>
                  <div *ngIf="f.address.touched && f.address.invalid" class="alert-danger">
                    <div *ngIf="f.address.errors?.required">Address is required</div>
               </div>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" [disabled]="!form.valid" (click)="create()" [routerLink]="['/login']" ><b style="color: white; border-color: white;">Register</b></button>
                </div>

                <p class="text-center mt-5 mb-0" style="color: rgb(136, 135, 135);">Have already an account? <a [routerLink]="['/login']"
                    class="fw-bold text-body" ><u style="color: rgb(210, 209, 209);">Login here</u></a></p>

            </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>